@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply outline-none;
  }

  input {
    @apply outline-none rounded-md p-2 border w-full resize-none;
  }

  select {
    @apply outline-none rounded-md p-2 border w-full resize-none;
  }

  textarea {
    @apply outline-none rounded-md p-2 border w-full resize-none;
  }
}

@layer components {
  .remove-tw {
    all: unset !important;
  }

  .remove-tw li {
    list-style-position: inside !important;
    padding-left: 1.25rem;
  }

  .remove-tw > * {
    all: unset !important;
  }

  .remove-tw ul {
    list-style: disc inside !important;
    padding-left: 1.5rem;
  }

  .remove-tw ol {
    list-style: decimal inside !important;
    padding-left: 1.5rem;
  }

  .remove-tw ol ol {
    list-style: lower-alpha inside !important;
    padding-left: 3rem;
  }

  .remove-tw ol ol ol {
    list-style: lower-roman inside !important;
    padding-left: 4 0.5rem;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
